<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BD_Recarga_Tarjeta" connectionString="Data Source=.;Initial Catalog=BD_Recarga_Tarjeta;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Presentation.Properties.Settings.BD_Recarga_Tarjeta"
            connectionString="Data Source=DESKTOP-ESI6MO3\SQLEXPRESS;Initial Catalog=BD_Recarga_Tarjeta;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>